<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <display-name>DnDClient</display-name>
    <servlet>
        <servlet-name>ContentServlet</servlet-name>
        <servlet-class>client.controllers.ContentClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncounterClientServlet</servlet-name>
        <servlet-class>client.controllers.EncounterClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CharacterClientServlet</servlet-name>
        <servlet-class>client.controllers.CharacterClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DiceClientServlet</servlet-name>
        <url-pattern>/diceClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContentServlet</servlet-name>
        <url-pattern>/content</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncounterClientServlet</servlet-name>
        <url-pattern>/encounter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CharacterClientServlet</servlet-name>
        <url-pattern>/character</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>dnd</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DiceClientServlet</servlet-name>
        <servlet-class>client.controllers.DiceClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dnd</servlet-name>
        <url-pattern>/welcome.jsp</url-pattern>
        <url-pattern>/index.jsp</url-pattern>
        <url-pattern>/roll.jsp</url-pattern>
        <url-pattern>/randomContent.jsp</url-pattern>
        <url-pattern>/randomEncounter.jsp</url-pattern>
        <url-pattern>/randomCharacter.jsp</url-pattern>
        <url-pattern>/about.jsp</url-pattern>
        <url-pattern>/welcome.html</url-pattern>
        <url-pattern>/index.html</url-pattern>
        <url-pattern>/roll.html</url-pattern>
        <url-pattern>/randomContent.html</url-pattern>
        <url-pattern>/randomEncounter.html</url-pattern>
        <url-pattern>/randomCharacter.html</url-pattern>
        <url-pattern>/about.html</url-pattern>
    </servlet-mapping>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>ClientProject</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
